<nav>
  <div id="sidebar-wrapper">
      <div class="logo-wrapper">
        <a href="http://{{ site.url }}">
          <img class="logo img-responsive" src="{{ site.static_folder }}/img/hexecontahedron.png" alt="{{ site.title }}">
        </a>
      </div>
      <div class="site-title">
        <a href="http://{{ site.url }}">
          {{ site.title }}
        </a>
      </div>

    <div class="nav-menu">
      <ul>
        <li><a class="page-link" href="http://{{ site.url }}">Home</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li><a class="page-link" href="http://{{ site.url }}/search">Search</a></li>
      </ul>
    </div><!-- /.nav-menu -->
<br>
    <div id="nav-footer">
      <div class="contact">
        <h4 class="author">
          <a class="author-link" href="{{ site.personal_website }}">{{ site.author }}</a>
        </h4>
        <p class="rss-subscribe">
          Subscribe
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
        </p>
        <p class="social">
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-2x fa-github gh" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-2x fa-twitter-square tw" aria-hidden="true"></i>
          </a>
          <a href="https://plus.google.com/{{ site.googlep_username }}">
            <i class="fa fa-2x fa-google-plus-official gp" aria-hidden="true"></i>
          </a>
        </p>
      </div> <!-- /.contact -->
    </div> <!-- /#nav-footer -->
  </div> <!-- /#sidebar-wrapper -->
</nav>
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
