/**
 * HTML overflow
 */
html, body {
  width: 100%;
}
a {
  color:$theme-secondary-light;
  :visited {
    color: $theme-cuaternary;
  }
  :hover {
    color: $theme-secondary;
  }
}
p {
  font-size: large;
}

/**
 * Site wrapper
 */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 300px;
  nav {
    width: 300px;
  }
  .page-content {
    position: absolute;
    margin-right: -300px;
    width: calc(100% - 300px);
    .content-wrapper {
      // max-width: calc(100% - 300px);
    }
  }
  #menu-toggle {
    // display: none; TODO: show and hide button
  }
}

/**
 * Site nav
 */
nav {
  z-index: 1000;
  position: fixed;
  left: 300px;
  width: 0;
  height: 100%;
  margin-left: -300px;
  overflow-y: auto;
  background: $theme-primary;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  a {
    :hover {
      color: $theme-gray-light;
    }
  }
  ul {
    // position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: 100%;
      text-indent: 20px;
      line-height: 40px;
      font-size: 20px;
      text-align: center;
      a {
        display: block;
        text-decoration: none;
        color: $theme-gray-light;
        &:visited {
          color: $theme-gray-light;
        }
        &:hover {
          text-decoration: none;
          color: $theme-gray-light;
          background: $theme-secondary-light;
        }
        &:active,:focus {
          text-decoration: none;
        }
      }
    }
  }

  .logo-wrapper {
    a {
      .logo {
        margin:0 auto;
        max-width:100px;
        max-height: 100px;
      }
    }
  }
  .site-title {
    display: block;
    font-weight: bold;
    font-size: 26px;
    line-height: 56px;
    text-align: center;
    :visited {
      color: $theme-gray-light;
    }
    :hover {
      text-decoration: none;
    }
    a {
      color: $theme-gray-light;
    }
  }

  #nav-footer {
    .contact {
      .author {
        text-align: center;
        .author-link {
          text-decoration: none;
          color: $theme-gray-light;
          margin-bottom: 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .rss-subscribe {
        width: 100%;
        text-align: center;
        color: $theme-gray-light;
        a:hover {
          color: $theme-gray-light;
          text-decoration: none;
        }
        a {
          text-decoration: underline;
          color: $theme-secondary-light;
        }
      }
    }
  }
}
/**
 * Site nav
 */
// .site-nav {
//     @include box-shadow(0px 2px 10px 1px $theme-gray-dark);
//     background-color: $theme-primary;
//     position: fixed;
//     top:0;
//     bottom:0;
//     min-width: 300px;
//     max-width: 300px;
//     min-height: 100%;
//     margin-bottom: 0px;
//     border-radius: 0px;
//     a {
//       :hover {
//         color: $theme-gray-light;
//       }
//     }
//     .container-fluid {
//       padding: 0px 0px;
//     }
//     .navbar-header {
//       margin: 0px 0px;
//       display: block;
//       float: none;
//     }
//     .menu-icon {
//         display: none;
//     }
//     .logo-wrapper {
//       background-color: $theme-primary;
//       display: block;
//       padding: 10px 0px;
//       a {
//         text-align: center;
//         .logo {
//           margin:0 auto;
//           // padding: $spacing-unit 0 $spacing-unit*.5 0;
//           // display: block;
//           max-width:100px;
//           max-height: 100px;
//         }
//       }
//     }
//     .site-title {
//         display: block;
//         font-weight: bold;
//         font-size: 26px;
//         line-height: 56px;
//         // letter-spacing: -1px;
//         text-align: center;
//         :visited {
//           color: $theme-gray-light;
//         }
//         :hover {
//           text-decoration: none;
//         }
//         a {
//           color: $theme-gray-light;
//         }
//     }
//     .navbar-collapse {
//       padding-right: 0;
//       padding-left: 0;
//     }


//       ul {
//         margin: 0;
//         li {
//           width: 100%;
//           list-style:none;
//           padding-top: 5px;
//           padding-bottom: 5px;
//           font-size: 20px;
//           .page-link {
//             color: $theme-gray-light;
//             line-height: $base-line-height;
//             letter-spacing: 3px;
//             // Gaps between nav items, but not on the first one
//             &:not(:last-child) {
//                 margin-top: 18px;
//             }
//             &:hover {
//               background-color: $theme-secondary-light;
//               text-decoration: none;
//             }
//           }
//         }
//       }
//     }
//
//   .nav-footer {
//     bottom: 0;
//     position:absolute;
//     display: block;
//     padding: $spacing-unit 0;
//     width: 100%;
//     max-height: 200px;
//     .contact {
//       .author-link {
//         text-decoration: none;
//         color: $theme-gray-light;
//         margin-bottom: 0;
//         .author {
//           text-align: center;
//         }
//         &:hover {
//           text-decoration: underline;
//         }
//       }
//       .rss-subscribe {
//         width: 100%;
//         text-align: center;
//         color: $theme-gray-light;
//         a:hover {
//           color: $theme-gray-light;
//           text-decoration: none;
//         }
//         a {
//           text-decoration: underline;
//           color: $theme-secondary-light;
//         }
//       }
//     }
//   }
// }

.page-content {
  // width: 100%;
  position: absolute;
  padding: 15px;
  .content-wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.social {
  display: block;
  margin: 10px auto;
  text-align: center;
  color: #EEEEEE;
  a {
    color: #EEEEEE;
    text-decoration: none;
  }
  a:visited {
    color: #EEEEEE;
    text-decoration: none;
  }
  .fa {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .fb:hover {
    color: #3B5998;
  }
  .tw:hover {
    color: #55ACEE;
  }
  .gp:hover {
    color: #DD4B39;
  }
  .li:hover {
    color: #0077B5;
  }
  .su:hover {
    color: #EB4924;
  }
  .gh:hover {
    color: #4078c0;
  }
}
/**
 * Site Search
 */
#search-container {
  input {
    width: 100%;
    font-size: 1.5 * $base-font-size;
  }
  #results-container {
  }
}

/**
 * Site simple-footer
 */
.simple-footer {
 border-top: 1px solid $theme-gray-light;
 padding: $spacing-unit/2 0;
 .wrapper {
   margin-left:  100px;
   margin-right: 100px;
   .footer-heading {
    display: inline-block;
   }
   .github {
     display: inline-block;
   }
   .footer-col {
     padding: 0;
     .text {
       text-align: justify;
     }
   }
 }
}
@media-query($on-tablet) {
  #wrapper {
    padding-left: 300px;
  }
  #wrapper.toggled {
    padding-left: 0;
    nav {
      width: 0;
    }
    .page-content {
      position: relative;
      margin-right: 0;
      width: calc(100% - 300px);
    }
  }
  nav {
    width: 300px;
  }
  .page-content {
    padding: 20px;
    position: relative;
  }
}
