// Variables

// Colorscheme
$text-color:       #111;

$theme-primary:   #006A6A;
$theme-primary-dark:   darken($theme-primary,10%);
$theme-primary-light: lighten($theme-primary, 10%);

$theme-secondary: #B69B09;
$theme-secondary-dark: darken($theme-secondary,10%);
$theme-terciary: #770C5A;

$background-color: #FDFDFD;

$theme-dark:       #222;
$theme-gray:       #828282;
$theme-gray-light: lighten($theme-gray, 40%);
$theme-gray-dark:  darken($theme-gray, 25%);


// Typography
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Transitions
$transition-normal: 0.35s;

// Width of the content area
$content-width:    800px;

// Media query sizes
$on-mobile:        320px;  // xsm
$on-palm:          480px;  // sm
$on-tablet:        768px;  // md
$on-laptop:        992px;  // lg
$on-desktop:       1200px; // xlg
